* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    justify-content: center;
    align-items: center;
    margin: 50px 250px 0px 770px

}
body{
    background-color: #7D83FF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}


.game{
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    height: 290px;
    gap: 10px;
    justify-content: center;
    align-items: center;border-radius: 10px;
}

.box{
    width: 90px;
    height: 90px;
    background-color: #D4DCFF;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px;
    

}

.reset{
    margin-left: 750px;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    height: 100px;
    font-size: 50px;
    color: #D4DCFF;
}



#newbtn{
    margin-left: 750px;
    margin-top: 20px;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.hide{
    display: none;
}

.o{

    color: red;
}

.x{
    color: blue;
}